@charset "UTF-8";
.cover {
  background-image: linear-gradient(rgba(62, 64, 149, 0.7), rgba(62, 64, 149, 0.7)), url(../../images/backgr.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 165vh;
}
.cover .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
  flex-wrap: wrap;
}
.cover .nav .logo {
  width: 80%;
}
.cover .nav .logo img {
  height: 100px;
  margin: 10px;
}
.cover .nav .menu {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.cover .nav .menu li {
  margin: 0 20px;
  display: block;
  background: transparent;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.cover .nav .menu a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.cover .nav .menu a:hover {
  color: #ff0000;
}
.cover .nav input:checked ~ ul {
  opacity: 1;
}
.cover .nav input {
  display: none;
}
.cover .nav label {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 1.2rem;
  color: white;
}

@media screen and (min-width: 900px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea mayor a 900px */
  .cover {
    min-height: 100vh;
  }
  .cover .nav .logo {
    width: 10%;
  }
  .cover .nav input {
    display: none;
  }
  .cover .nav label {
    display: none;
  }
  .cover .nav .menu {
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
.central {
  font-family: "Finlandica", sans-serif;
  margin: auto;
}
.central .presentacion {
  padding: 80px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.central .presentacion .phone {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  color: white;
  align-items: center;
  background-color: #ff0000;
}
.central .presentacion .phone .material-symbols-outlined {
  text-align: center;
  font-variation-settings: "FILL" 50, "wght" 200, "GRAD" 0, "opsz" 100;
}
.central .presentacion .title,
.central .presentacion .subtitle {
  color: white;
}
.central .presentacion .title {
  font-size: 5rem;
  font-weight: 500;
}
.central .presentacion .subtitle {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
}
.central .presentacion button {
  font-family: "Finlandica", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: white;
  color: #ff0000;
  padding: 15px 30px 15px 30px;
}
.central .contacto {
  margin: auto;
  width: 95%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 40px 0;
}
.central .contacto h2, .central .contacto h3 {
  color: #3e4095;
  font-weight: 100;
  font-size: 1.5rem;
}
.central .contacto form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.central .contacto form .forms {
  margin: 15px;
  padding: 20px;
  border: solid 2px #ff0000;
  font-family: "Finlandica", sans-serif;
  font-size: 1.2rem;
}
.central .contacto form .form-button {
  background: #3e4095;
  margin: 10px 50px 13px 15px;
  padding: 13px;
  align-self: baseline;
  color: white;
  font-family: "Finlandica", sans-serif;
  font-size: 1.15rem;
  font-weight: 100;
}

@media screen and (min-width: 900px) {
  .central {
    display: flex;
    max-width: 80%;
    padding-top: 60px;
  }
  .central .presentacion {
    align-items: flex-start;
  }
  .central .presentacion .subtitle {
    text-align: left;
    max-width: 80%;
  }
  .central .contacto {
    width: 50%;
    padding: 40px 0 40px 0;
  }
}
.featured-properties, .latest-properties {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.featured-properties .featured-properties-title, .latest-properties .featured-properties-title {
  color: #3e4095;
  font-weight: 100;
}
.featured-properties .cards, .latest-properties .cards {
  width: 100%;
  overflow: hidden;
}
.featured-properties .cards .card, .latest-properties .cards .card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.featured-properties .cards .card .card-img, .latest-properties .cards .card .card-img {
  width: 90%;
  aspect-ratio: 16/10;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-properties .cards .card .card-condition, .latest-properties .cards .card .card-condition {
  color: white;
  width: 100%;
  margin-top: 0;
  padding: 15px;
}
.featured-properties .cards .card .for-sale, .latest-properties .cards .card .for-sale {
  background-color: #3e4095;
}
.featured-properties .cards .card .for-rent, .latest-properties .cards .card .for-rent {
  background-color: #ff0000;
}
.featured-properties .cards .card .card-description, .latest-properties .cards .card .card-description {
  align-self: baseline;
}
.featured-properties .cards .card .card-description .card-description-type, .featured-properties .cards .card .card-description .card-description-name, .featured-properties .cards .card .card-description .card-description-price, .featured-properties .cards .card .card-description .card-description-specs, .latest-properties .cards .card .card-description .card-description-type, .latest-properties .cards .card .card-description .card-description-name, .latest-properties .cards .card .card-description .card-description-price, .latest-properties .cards .card .card-description .card-description-specs {
  margin: 8px;
}
.featured-properties .cards .card .card-description .card-description-name, .latest-properties .cards .card .card-description .card-description-name {
  color: #3e4095;
  font-size: 1.5rem;
}
.featured-properties .cards .card .card-description .card-description-price, .latest-properties .cards .card .card-description .card-description-price {
  color: #3e4095;
  font-size: 1.2rem;
}
.featured-properties .cards .card .card-description .card-description-specs, .latest-properties .cards .card .card-description .card-description-specs {
  color: #ff0000;
  font-size: 0.8rem;
}

@media screen and (min-width: 900px) {
  .latest-properties, .featured-properties {
    max-width: 95%;
  }
  .latest-properties .cards, .featured-properties .cards {
    display: flex;
    justify-content: space-around;
  }
  .latest-properties .cards .card, .featured-properties .cards .card {
    width: 25%;
    margin: 40px;
  }
}
.about-cover {
  background-image: linear-gradient(rgba(62, 64, 149, 0.7), rgba(62, 64, 149, 0.7)), url(../../images/backgr.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 80vh;
  display: flex;
}
.about-cover .about-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.about-cover .about-content .about-content-img {
  width: 60%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 80px;
}
.about-cover .about-content .about-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  gap: 20px;
}
.about-cover .about-content .about-text p, .about-cover .about-content .about-text h3 {
  color: white;
  max-width: 90%;
  text-align: justify;
  font-size: 1.5rem;
}
.about-cover .about-content .about-text h2 {
  font-size: 4rem;
  color: white;
  margin: 0;
}
.about-cover .about-content .about-text h3 {
  font-weight: 100;
}
.about-cover .about-content .about-text .about-content-btn {
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: white;
  color: #ff0000;
  padding: 15px 30px 15px 30px;
  display: inline-block;
  max-width: 30%;
}

@media screen and (min-width: 900px) {
  .about-content {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
  .about-content .about-content-img {
    max-width: 25%;
  }
  .about-content .about-text {
    width: 50%;
    padding: 50px 0 50px 0;
  }
}
.search-cover {
  background-image: linear-gradient(rgba(62, 64, 149, 0.7), rgba(62, 64, 149, 0.7)), url(../../images/backgr.webp);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-cover .search-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.search-cover .search-text h3 {
  text-align: center;
  color: white;
  max-width: 90%;
  text-align: justify;
  font-size: 1rem;
  font-weight: 100;
}
.search-cover .search-text h2 {
  font-size: 3rem;
  color: white;
  margin: 0;
}
.search-cover .search-cards {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
}
.search-cover .search-cards .material-symbols-outlined {
  font-size: 4rem;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 148;
}
.search-cover .search-cards .search-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.search-cover .search-cards .search-card .search-card-description {
  max-width: 40%;
}
.search-cover .search-cards .search-card .search-card-title {
  font-size: 2rem;
  font-weight: 500;
}
.search-cover .search-cards .search-card .line {
  margin: auto;
  width: 10%;
  height: 2px;
  background-color: white;
}
.search-cover .search-cards .search-card .search-card-button {
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: white;
  color: #ff0000;
  padding: 15px 30px 15px 30px;
  display: inline-block;
}

@media screen and (min-width: 900px) {
  .search-cards {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100% !important;
  }
  .search-cards .search-card {
    flex-basis: calc(33.33% - 10px);
  }
}
.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 50px 0px 50px 0px;
}
.footer-text h2 {
  color: #3e4095;
  font-weight: 500;
  font-size: 3rem;
  padding: 20px;
}
.footer-text .footer-button {
  font-family: "Finlandica", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: #3e4095;
  color: white;
  padding: 15px 30px 15px 30px;
}
.footer-text .footer-button:hover {
  color: #ff0000;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
  margin: auto;
}
.footer-social span img {
  width: 30px;
}

.restricted {
  background-image: linear-gradient(rgba(62, 64, 149, 0.5), rgba(62, 64, 149, 0.5));
  font-family: "Finlandica", sans-serif !important;
  line-height: 1 !important;
  /* Estilos para el formulario */
  /* Estilos para el input file */
}
.restricted .container-table100 {
  background: none;
  min-height: 0;
}
.restricted .table100-head {
  background-color: #3e4095;
  background: #3e4095;
}
.restricted th {
  font-family: "Finlandica", sans-serif !important;
  line-height: 1 !important;
}
.restricted .crear-propiedad {
  width: 93vw;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.restricted .crear-propiedad .propiedad, .restricted .crear-propiedad .foto {
  min-width: 40%;
}
.restricted .crear-propiedad form {
  width: 90%;
}
.restricted .crear-propiedad form label {
  display: block;
  width: 100%;
}
.restricted .crear-propiedad form input, .restricted .crear-propiedad form textarea, .restricted .crear-propiedad form select {
  width: 100%;
}
.restricted form {
  width: 300px;
  margin: 0 auto;
}
.restricted label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.restricted input[type=text],
.restricted textarea,
.restricted input[type=number],
.restricted select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}
.restricted input[type=text]:hover,
.restricted textarea:hover,
.restricted input[type=number]:hover,
.restricted select:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.restricted input[type=checkbox] {
  margin-top: 5px;
}
.restricted button[type=submit], .restricted .formButton {
  padding: 10px 20px;
  background-color: #3e4095;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.restricted .formButton {
  max-width: 20%;
}
.restricted .file-input {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.restricted .file-input input[type=file] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}
.restricted .file-input label {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .crear-propiedad {
    flex-direction: column;
    width: 100%;
  }
  .crear-propiedad #propiedadForm {
    min-width: 90vw;
  }
  .crear-propiedad #fotosForm {
    min-width: 70vw;
  }
}
#coverPropiedades {
  min-height: 60vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Finlandica", sans-serif;
}

.cover, .about-cover, .search-cover {
  max-width: 100%;
}

body {
  font-family: "Finlandica", sans-serif;
}
body button {
  border: none;
}/*# sourceMappingURL=style.css.map */