<!DOCTYPE html>
<html lang="en">
    <% include ./ejs/head %>

    <div class="cover" id="coverPropiedades">
        <% include ./ejs/header %>
    </div>

    <section class="propiedades">

        
    </section>
<body>
    
</body>
</html>