<!DOCTYPE html>
<html>
    <% include ./ejs/head %>
<body>
  <h1>Crear Propiedad</h1>
  <form id="propiedadForm">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required><br><br>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" required></textarea><br><br>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" required><br><br>

    <label for="esDestacado">Es destacado:</label>
    <input type="checkbox" id="esDestacado"><br><br>

    <label for="fotos">Seleccionar fotos:</label>
  <input type="file" id="fotos" name="fotos" multiple>
    <input type="text" id="foto"><br><br>

    <label for="tipo">Tipo:</label>
    <select id="tipo" required>
      <option value="">Seleccione un tipo</option>
      <option value="Casas">Casas</option>
      <option value="Departamentos">Departamentos</option>
      <option value="Fideicomisos">Fideicomisos</option>
      <option value="Proyectos">Proyectos</option>
      <option value="Locales">Locales</option>
    </select><br><br>

    <label for="condicion">Condición:</label>
    <select id="condicion" required>
      <option value="">Seleccione una condición</option>
      <option value="Venta">Venta</option>
      <option value="Alquiler">Alquiler</option>
    </select><br><br>

    <button type="submit">Crear</button>
  </form>

  
  <h1>Lista de Propiedades</h1>
  <button onclick="getCourses()">listar</button>

  <div id="propiedades-container"></div>


  <script src="./javascripts/restricted.js"></script>
</body>
</html>
