<footer>

    <div class="footer-text">
      <p class="phone"> +5492914121109 </p>
      <h2 class="footer-text-inner">Encontremos juntos el lugar que te mereces!</h2>
      <button class="footer-button">Contactanos</button>
    </div>
    <div class="footer-social">
      <span class="social">
         <img class="facebook social-svg " src="./images/facebook.svg" alt="">
      </span>
      <span class="social"><img class="intagram social-svg" src="./images/instagram.svg" alt=""></span>
      <span class="social"><img class="twitter social-svg" src="./images/twitter.svg" alt=""></span>

    </div>
  </footer>