<footer>

    <div class="footer-text" id="contacto">
      <p class="phone"> +54929999999 </p>
      <h2 class="footer-text-inner">Encontremos juntos el lugar que te mereces!</h2>
      <button class="footer-button" onclick="redirectToSection()" >Contactanos</button>


    </div>
    <div class="footer-social">
      <span class="social">
         <img class="facebook social-svg " src="/images/facebook.svg" alt="">
      </span>
      <span class="social"><img class="intagram social-svg" src="/images/instagram.svg" alt=""></span>
      <span class="social"><img class="twitter social-svg" src="/images/twitter.svg" alt=""></span>
      <span class="social"> <img class="whatsapp social-svg" src="/images/whatsapp.svg" alt=""><a href="http://wa.me/+5492915660968"></a></span>
      
    </div>
  </footer>